.main-page {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button-container {
  display: flex;
  gap: 10px;
}
.main-page h1 {
  margin-bottom: 20px;
  font-size: 2.4rem;
}
