$accent-color: #ff4081;

body {
  font-family: "Roboto", sans-serif;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.movie-card {
}

.image-card {
  height: 400px;
  // width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;

  .genre,
  .director,
  .description {
    margin: 25px 20px 25px 25px;
  }
  .genre {
    font-size: 1rem;
  }
  .actor {
    font-size: 1rem;
  }
}

.favorite-icon {
  cursor: pointer; /* Optional: Change cursor to pointer when hovering over the icon */
}

.favorite-filled {
  color: #ff4081; /* Change color to indicate filled state */
}

mat-card {
  margin-top: 4rem;
  mat-card-title {
    font-size: 1.2em;
    font-weight: bold;
  }

  .image-card {
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  mat-card-header {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transform: translateY(50%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  mat-card-actions {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  &:hover {
    mat-card-header {
      opacity: 1;
      transform: translateY(0);
    }

    mat-card-actions {
      opacity: 1;
      transform: translateY(0);
    }
  }

  button {
    font-size: 0.9em;
    font-weight: 400;
  }

  mat-icon {
    color: $accent-color;
  }
}
