<div class="movie-card">
  <div class="movie-grid">
    <mat-card *ngFor="let movie of movies; let i = index">
      <mat-card-header>
        <mat-card-title>{{ movie.title }}</mat-card-title>
        <mat-card-subtitle>Directed by: {{ movie.director }}</mat-card-subtitle>
      </mat-card-header>
      <div class="image-card">
        <img
          *ngIf="!movie.hiddenImage"
          [src]="movie.image"
          [alt]="movie.title"
        />
        <div class="genre" *ngIf="movie.showGenre">
          <h3>Genre:</h3>
          <p>{{ movie.genre.join(", ") }}</p>
        </div>
        <div class="director" *ngIf="movie.showDirector">
          <h3>Actors:</h3>
          <div class="actor">
            <p *ngFor="let actor of movie.actors">{{ actor }}</p>
          </div>
        </div>
        <div class="description" *ngIf="movie.showDescription">
          <h3>Description:</h3>
          <p>{{ movie.description }}</p>
        </div>
      </div>
      <mat-card-actions>
        <button mat-button color="primary" (click)="toggleGenre(i)">
          Genre
        </button>
        <button mat-button color="primary" (click)="toggleDirector(i)">
          Actor
        </button>
        <button mat-button color="primary" (click)="toggleDescription(i)">
          Synopsis
        </button>
        <mat-icon
          class="favorite-icon"
          [class.favorite-filled]="movie.isFavorite"
          (click)="toggleFavorite(movie._id, movie)"
        >
          {{ movie.isFavorite ? "favorite" : "favorite_border" }}
        </mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
