<div class="movie-card">
  <div class="movie-grid">
    <mat-card *ngFor="let movie of movies; let i = index">
      <mat-card-header>
        <mat-card-title>{{ movie.Title }}</mat-card-title>
        <mat-card-subtitle
          >Directed by: {{ movie.Director.Name }}</mat-card-subtitle
        >
      </mat-card-header>
      <div class="image-card">
        <img
          *ngIf="!movie.hiddenImage"
          [src]="movie.Image"
          [alt]="movie.Title"
        />
        <div class="genre" *ngIf="movie.showGenre">{{ movie.Genre.Name }}</div>
        <div class="director" *ngIf="movie.showDirector">
          {{ movie.Director.Bio }}
        </div>
        <div class="description" *ngIf="movie.showDescription">
          {{ movie.Description }}
        </div>
      </div>
      <mat-card-actions>
        <button mat-button color="primary" (click)="toggleGenre(i)">
          Genre
        </button>
        <button mat-button color="primary" (click)="toggleDirector(i)">
          Director
        </button>
        <button mat-button color="primary" (click)="toggleDescription(i)">
          Synopsis
        </button>
        <mat-icon
          class="favorite-icon"
          [class.favorite-filled]="movie.isFavorite"
          (click)="toggleFavorite(movie._id, movie)"
        >
          {{ movie.isFavorite ? "favorite" : "favorite_border" }}
        </mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
