.toolbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logout-link {
  color: #333;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

mat-toolbar {
  h2 {
    font-size: 1.2rem;
  }
  display: flex;
  justify-content: space-between;
  div {
    display: flex;
    gap: 16px;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
