mat-card-title {
  margin-bottom: 10px;
}
mat-form-field {
  width: 280px;
}
.loading-container {
  position: absolute;
  z-index: 1000;

  left: 30%;
  top: 90%;
}

.spinner {
  width: 25px;
  height: 25px;
  border: 2.5px solid #000000;
  border-radius: 50%;
  border-top-color: #0017e3;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
