<div class="user-profile-container">
  <mat-card>
    <mat-card-header>
      {{ user.Username }}
    </mat-card-header>

    <mat-card-content>
      <!-- Username -->
      <div class="profile-item">
        <strong>Username:</strong> {{ user.Username }}
      </div>

      <!-- Birthday -->
      <div class="profile-item">
        <strong>Birthday:</strong> {{ user.Birthday | date : "dd/MM/yyyy" }}
      </div>

      <!-- Email -->
      <div class="profile-item"><strong>Email:</strong> {{ user.Email }}</div>

      <!-- Favorite Movies -->
      <div class="profile-item">
        <strong>Favorite Movies:</strong>
        <ul>
          <li *ngFor="let movie of getFavoriteMovies()">{{ movie }}</li>
        </ul>
      </div>
      <button class="delete-button" (click)="removeUser(user._id)">
        Delete account
      </button>
    </mat-card-content>
  </mat-card>
</div>
